// #Areas Served-Styles

body {
	&.page-template-page-template-areas_served {
		#areas-served {
			.areas-served-wrapper {
				display: grid;
				gap: 100px;
				max-width: 900px;
				width: 100%;
				margin: 0 auto;

				.area {
					display:flex;
					padding: 70px 0;
					overflow: hidden;
					position: relative;

					&:nth-of-type(even) {
						flex-direction: row-reverse;
						background: $lighterblue;
						padding-left: 8%;

						&:before {
							right: 0;
						}

						.city-image {
							margin-left: 6%;
							margin-right: 0;
						}

						.city-info {
							margin: auto auto auto 0;

							*:not(.btn) {
								color: $darkblue;
							}
						}
					}

					&:nth-of-type(odd) {
						flex-direction: row;
						background: $cream;
						padding-right: 8%;

						&:before {
							left: 0;
						}

						.city-image {
							margin-left: 0;
							margin-right: 6%;
						}

						.city-info {
							margin: auto 0 auto auto;

							*:not(.btn) {
								color: $brown;
							}
						}
					}

					@include mq(tablet,max) {
						flex-direction: column!important;
						padding: 0 30px 50px!important;
					}

					&:before {
						content: '';
						display: block;
						@include size(8%,100%);
						background: $white;
						position: absolute;
						top: 0;

						@include mq(tablet,max) {
							@include size(100%,70px);
							top: 0;
						}
					}

					.area-content {
						display: flex;
						align-items: center;
						justify-content: start;
						flex-direction: column;
						position: relative;
						z-index: 10;
						text-align: left;

						&.city-image {
							width: 100%;
							@include mq(tablet,min) {
								width: 52%;
							}
							@include mq(tablet,max) {
								margin: 0 auto!important;
								max-width: 350px;
							}

							img {
								width: 100%;
								display: block;
							}
						}

						&.city-info {
							width: 100%;
							text-align: center;
							@include mq(tablet,min) {
								width: 42%;
								text-align: left;
							}
							@include mq(tablet,max) {
								margin-top: 50px;
								justify-content: center;
							}

							.city-name {
								@include mq(tablet,min) {
									text-align: left;
									margin-left: 0;
									margin-right: auto;
								}
							}

							.city-blurb {
								font-size: 16px;
								margin-top: 20px;
								margin-bottom: 10px;
								width: 90%;

								@include mq(tablet,min) {
									margin-left: 0;
									margin-right: auto;
								}
							}

							.city-link {
								@include mq(tablet,min) {
									margin-left: 0;
									margin-right: auto;
								}
							}
						}
					}
				}
			}
		}
	}

	&.page-template-page-template-areas_served_single {
		.sbpg-cntnt-sctn {
			padding: 70px 0!important;

			.sbpg-cntnt-rw {
				background: $cream;
				padding: 50px!important;
				position: relative;

				&:before {
					@include mq(tablet,min) {
						content: '';
						display: block;
						@include size(1px,calc(100% - 100px));
						background: $tan;
						@include position(absolute, top 50px left 50%);
						transform: translateX(-50%);
					}
				}

				.sbpg-cntnt-col {
					@include mq(tablet,min) {
						width: 50%!important;
						margin: 0!important;
						padding: 20px 0;
						display: flex;
						flex-direction: column;
					}

					&-1 {
						@include mq(tablet,min) {
							padding-right: 9vw;
						}

						@include mq(tablet,max) {
							padding-bottom: 50px;
							margin-bottom: 50px;
							border-bottom: 1px solid $tan;
						}
					}
					&-2 {
						@include mq(tablet,min) {
							padding-left: 9vw;
						}
					}

					.sbpg-cntnt {
						p {
							color: $darkblue;
						}
					}
				}
			}
		}

		#comparison-chart {
			background: $white;
			padding: 50px 0 100px;
		}
	}
}