// #Text-Variables
$hfont     : 'Butler', serif;
$hfontalt  : 'Freight Text', serif;
$bfont  	 : 'Poppins', sans-serif;

$norm  : 400;
$med   : 500;
$semi  : 600;
$bold  : bold;

$white	     : #ffffff;
$offwhite    : #fffbf8;
$black       : #000000;
$brown 	     : #683b1e;
$darkbrown   : #3b2314;
$cream       : #fbf2e9;
$tan         : #bfa58c;
$lighterblue : #e9f4fb;
$lightblue   : #9dbac8;
$blue        : #6c91a3;
$darkblue    : #1d4955;

$inherit : inherit;
$trans	 : transparent;

$trans-fast  : all 150ms ease-in-out;
$trans-slow  : all 300ms ease-in-out;
$trans-cubic : cubic-bezier(0.48, 0.96, 0.57, 1.02);


// #Breakpoints
$breakpoints: (
  'small':  767px,
  'medium': 980px,
  'large':  1200px
) !default;


// #File-Paths
$path-uploads  : '../../../uploads';
$path-theme : '../';

