// #Button-Styles

.btn {
  cursor: pointer;
  display: table;
  text-transform: uppercase;
  text-align: center;

	&--inline {
	  display: inline-table;

		&:not(:last-of-type) {
		  margin-right: 15px;
		  margin-bottom: 15px;
		}
	}
}