// #Lead Form-Styles

body {
	#lead-form {
		background-image: url('#{$path-uploads}/lead-bg.svg');
		background-size: cover;
		background-position: bottom left;
		padding: 125px 0;

		.sm-rw {
			.et_pb_column {
				@include mq(tablet,min) {
					width: 42.75%;
				}

				&.text-col {
					@include mq(tablet,min) {
						margin-right: 14.5%;
					}

					.text {
						* {
							color: $darkblue;
						}

						p {
							width: 90%;
							@include mq(phone-wide,min) {
								width: 80%;
							}
						}
					}
				}

				&.form-col {
					.form-title {
						display: none;
					}

					.form-indicator {
						color: $tan;
						font-size: 16px;
						display: block;
						padding-bottom: 0;
						margin-bottom: 5px;
					}

					.lead-form_wrapper {
						.lead-form {
							.gform_fields {
								grid-row-gap: 30px;

								.gfield {
									&.field-address {
										span {
											margin: 0;

											&:not(.address_line_1) {
												display: none;
											}
										}
									}

									label,.gfield_label {
										display: none;
									}

									input {
										font-family: $bfont;
										font-size: 18px;
										font-weight: $norm;
										letter-spacing: 0.04em;
										line-height: 1;
										color: $darkbrown;
										padding: 10px 15px;
										border: 0;
										border-bottom: 3px solid $tan;
										background-color: transparent;

										@include mq(phone-wide,max) {
											font-size: 16px;
										}

										&::placeholder {
											color: $darkbrown;
										}
									}
								}
							}

							.gform_footer {
								padding: 0!important;
								margin-top: 30px;
								position: relative;

								&:before {
									content: "\24";
									font-family: $ifont;
							    color: $tan;
							    font-size: 24px;
							    line-height: 1;
							    font-weight: $norm;
							    position: absolute;
							    right: 0;
							    top: 50%;
							    transform: translateY(-50%);
								}

								input[type="submit"] {
									margin: 0!important;
									background: transparent!important;
									color: $darkblue!important;
									text-transform: initial;
									font-size: 18px;
									font-weight: $med;
									letter-spacing: 0.04em;
									border: 0!important;
									padding: 0 28px 0 0!important;
									margin-left: auto!important;
									margin-right: 0!important;
								}
							}
						}
					}
				}
			}
		}
	}

	&.page-template-page-template-about {
		#lead-form {
			background: $tan;
			.sm-rw {
				.et_pb_column {
					width: 100%!important;
					margin: 0 auto!important;

					&.text-col {
						display: none!important;
					}

					&.form-col {
						@include mq(tablet-wide,min) {
							max-width: 46vw;
						}

						.form-title {
							display: block!important;
							color: $white!important;
							text-align: center;
						}

						.form-indicator {
							color: $white!important;
							text-align: center;
						}

						.lead-form_wrapper {
							.lead-form {
								.gform_fields {
									.gfield {
										input {
											color: $white;
											border-color: $white;
											text-align: center;

											&::placeholder {
												color: $white;
											}
										}
									}
								}

								.gform_footer {
									&:before {
								    color: $white;
									}

									input[type="submit"] {
										color: $white!important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}