// #Lead Form-Styles

body {
	#lead-form {
		background-image: url('#{$path-uploads}/lead-bg.svg');
		background-size: cover;
		background-position: bottom left;
		padding: 125px 0;

		.sm-rw {
			.et_pb_column {
				@include mq(tablet,min) {
					width: 42.75%;
				}

				&.text-col {
					@include mq(tablet,min) {
						margin-right: 14.5%;
					}

					.text {
						* {
							color: $darkblue;
						}

						p {
							width: 90%;
							@include mq(phone-wide,min) {
								width: 80%;
							}
						}
					}
				}

				&.form-col {
					.form-title {
						display: none;
					}
				}
			}
		}
	}

	&.alt-lead-form {
		#lead-form {
			background: $tan;
			padding: 85px 0;

			.sm-rw {
				.et_pb_column {
					width: 100%!important;
					margin: 0 auto!important;

					&.text-col {
						display: none!important;
					}

					&.form-col {
						@include mq(tablet-wide,min) {
							max-width: 46vw;
						}

						.form-title {
							display: block!important;
							color: $white!important;
							text-align: center;
						}

						.form-indicator {
							color: $white!important;
							text-align: center;
						}

						.lead-form_wrapper {
							.lead-form {
								.gform_fields {
									.gfield {
										input {
											color: $white;
											border-color: $white;
											text-align: center;

											&::placeholder {
												color: $white;
											}
										}
									}
								}

								.gform_footer {
									&:before {
								    color: $white;
									}

									input[type="submit"] {
										color: $white!important;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.page-template-page-template-about {
		#lead-form {
			padding: 85px 0 calc(12vw + 125px);
			@include mq(tablet-wide,min) {
				padding-top: 125px;
			}
		}
	}
}