// #Colors

.black {
  color: $black!important;
}

.white {
  color: $white!important;
}

.offwhite {
  color: $offwhite!important;
}

.cream {
  color: $cream!important;
}

.tan {
  color: $tan!important;
}

.brown {
  color: $brown!important;
}

.darkbrown {
  color: $darkbrown!important;
}

.lighterblue {
  color: $lighterblue!important;
}

.lightblue {
  color: $lightblue!important;
}

.blue {
  color: $blue!important;
}

.darkblue {
  color: $darkblue!important;
}

