// #Colors

.black {
  color: $black!important;
}

.white {
  color: $white!important;
}

.offwhite {
  color: $offwhite!important;
}

.cream {
  color: $cream!important;
}

.tan {
  color: $tan!important;
}

.brown {
  color: $brown!important;
}

.darkbrown {
  color: $darkbrown!important;
}

.lighterblue {
  color: $lighterblue!important;
}

.lightblue {
  color: $lightblue!important;
}

.blue {
  color: $blue!important;
}

.darkblue {
  color: $darkblue!important;
}

// Background Colors

.black-bg {
  background-color: $black!important;
}

.white-bg {
  background-color: $white!important;
}

.offwhite-bg {
  background-color: $offwhite!important;
}

.cream-bg {
  background-color: $cream!important;
}

.tan-bg {
  background-color: $tan!important;
}

.brown-bg {
  background-color: $brown!important;
}

.darkbrown-bg {
  background-color: $darkbrown!important;
}

.lighterblue-bg {
  background-color: $lighterblue!important;
}

.lightblue-bg {
  background-color: $lightblue!important;
}

.blue-bg {
  background-color: $blue!important;
}

.darkblue-bg {
  background-color: $darkblue!important;
}

