
//==================== WEBFONTS: ==================
//==================================================

// #Poppins
@font-face {
  font-family: 'Poppins';
  src: url('#{$path-theme}/fonts/Poppins-Regular.woff2') format('woff2'),
       url('#{$path-theme}/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$path-theme}/fonts/Poppins-Medium.woff2') format('woff2'),
       url('#{$path-theme}/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$path-theme}/fonts/Poppins-SemiBold.woff2') format('woff2'),
       url('#{$path-theme}/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('#{$path-theme}/fonts/Butler-Bold.woff2') format('woff2'),
        url('#{$path-theme}/fonts/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('#{$path-theme}/fonts/Freight-TextBookItalic.woff2') format('woff2'),
        url('#{$path-theme}/fonts/Freight-TextBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

// #Global
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $hfont;
}

h1,.h1 {
  font-size: 100px;
  line-height: 1;
  padding-bottom: 50px;

  @include mq(tablet-small,max) {
    font-size: 90px;
  }

  @include mq(phone-wide,max) {
    font-size: 70px;
  }
}

h2,.h2 {
  font-size: 84px;
  line-height: 1;
  padding-bottom: 40px;

  @include mq(phone-wide,max) {
    font-size: 65px;
  }
}

h3,.h3 {
  font-size: 62px;
  line-height: 1.16;
  padding-bottom: 20px;

  @include mq(phone-wide,max) {
    font-size: 52px;
  }
}

h4,.h4 {
  font-size: 34px;
  line-height: 1.48;
}

h5,.h5 {
}

.sbpg-cntnt-ttl {
  font-family: $bfont;
  font-style: normal;
  font-weight: $norm;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .14em;
  padding-bottom: 30px;
  color: $darkblue;
  text-transform: uppercase;
  display: table;

  &:after {
    content: '';
    display: block;
    @include size(62.5%,2px);
    background: $tan;
    margin-top: 10px;
  }
}

.ttl {
}

html,body,p,li,div,input {
  font-family: $bfont;
  font-weight: 400;
}

p {
  font-family: $hfontalt;
  font-size: 18px;
  font-style: italic;
  line-height: 1.8;

  @include mq(phone-wide,max) {
    font-size: 16px;
  }
}

p:empty {
  display: none;
}

li {
}

a,span {
  font-family: inherit;
}

textarea,button {
  font-family: $bfont;
}