
//==================== WEBFONTS: ==================
//==================================================

// #Poppins
@font-face {
  font-family: 'Poppins';
  src: url('#{$path-font}/Poppins-Regular.woff2') format('woff2'),
       url('#{$path-font}/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$path-font}/Poppins-Medium.woff2') format('woff2'),
       url('#{$path-font}/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$path-font}/Poppins-SemiBold.woff2') format('woff2'),
       url('#{$path-font}/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Butler';
    src: url('#{$path-font}/Butler-Bold.woff2') format('woff2'),
        url('#{$path-font}/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Text';
    src: url('#{$path-font}/FreightTextBookItalic.woff2') format('woff2'),
        url('#{$path-font}/FreightTextBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

// #Global
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $hfont;
}

h1,.h1 {
}

h2,.h2 {
}

h3,.h3 {
}

h4,.h4 {
}

h5,.h5 {
}

.ttl {
}

p,li,div {
  font-family: $bfont;
}

p {
}

p:empty {
  display: none;
}

li {
}

a,span {
  font-family: inherit;
}

input,textarea,button {
  font-family: $hfontalt;
}