// #Banner-Styles

.banner {
	&-internal {
		padding: 130px 0;
		@include mq(tablet,max) {
			padding: 50px 0!important;
		}

		.page-title {
			text-align: center;
			color: $darkblue;
			padding-bottom: 0;

			span {
				display: block;
				&.sub-title {
					font-family: $bfont;
					font-size: 22px;
					line-height: 1;
					font-weight: $norm;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					text-align: center;
					padding-bottom: 25px;

					@include mq(tablet-small,max) {
						font-size: 20px;
					}

					@include mq(phone-wide,max) {
						font-size: 18px;
					}
				}
			}

			&:after {
				content:'';
				display: block;
				@include size(200px,8px);
				max-width: 100%;
				background: $tan;
				margin: 30px auto 0;

				@include mq(tablet-small,max) {
					width: 175px;
				}

				@include mq(phone-wide,max) {
					width: 150px;
				}
			}
		}

		&-img {
			padding: 100px 0;
			position: relative;
			background-position: top left;
			background-size: cover;
			position: relative;

			&:before {
				@include mq(tablet,min) {
					content: '';
					display: block;
					@include size(100%,100%);
					background-image: url('#{$path-uploads}/white-fade.png');
					background-size: 66% 100%;
					background-position: top left;
					background-repeat: no-repeat;
					@include position(absolute,top 0 left 0);
					z-index: 5;
				}
			}

			.sbpg-bnnr-rw {
				position: relative;
				z-index: 10;

				.sbpg-bnnr-col {
					@include mq(tablet,max) {
						margin: 0!important;
					}

					.sbpg-bnnr {
						@include mq(tablet,min) {
							text-align: left;
						}

						.page-title {
							@include mq(tablet,min) {
								text-align: left;
							}

							&:after {
								@include mq(tablet,min) {
									margin-left: 0;
									margin-right: auto;
								}
							}
						}
					}	
				}
			}
		}
	}
}